.parentOuterContainer {}

.parentContainer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1920px;
    margin: auto;
}

.cHText {
    padding: 0;
    margin: 0;
}

.cPText {
    padding: 0;
    margin: 0;
}

.slider {
    margin: 0 10px;
    overflow: "hidden";
    
    color: white;
}

.slider img {
    width: 100%;
    overflow: "hidden";
    border-radius: 10px;
    max-height: 700px;
}


.custom-dot-list-style {
    
    color: aqua;
    z-index: 1;
    bottom: 10px;
}

.react-multiple-carousel__arrow{
    z-index: 1;
}




