.menuOuterContainer{
    display: flex;
    justify-content: center;
}

.menuInnerContainer{
    background-color: #f0f0f0;
    max-width: 1920px;
    text-align: center;
    
    width: 99vw;
}



@media (max-width: 768px) {

}