:root {
  --brown: #f4e3c9;
  --darkerBrown: #fcae66ff;
  --red: #ff422fff;
  --blue: #4b7fafff;
  --green: #538951ff;
  --yellow: #edad31;
  padding: 0px;
  background-image:url("../src/assets/folkPatternBlack.webp");

}

body {
  color: rgb(0, 0, 0);
  text-rendering: optimizeLegibility;
  background-image: url("./assets/patternBackground.png");
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(.6px);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #efefef00;
}

Button {
  text-align: center;
  font-size: 15px;
  margin: auto;
  z-index: 10;
  display: block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color:  black;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: black;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  border-radius: 5px;
  transition: background,color .1s ease-in-out;
  padding: 10px;
  margin-bottom: 20px;
  background-color:  transparent;
}

Button:hover {
  background-color:  var(--green);
  color: #ffffff;
  border-color: white;
}

h1 {
  font-size: 3rem;
  min-width: none;

}

h2 {
  font-weight: 300;
}

h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

hr {
  width: 90%;
}


p {
  font-size: 1rem;
  min-width: none;
}

@media (max-width:768px) {
  h1 {
    font-size: 2rem;
    font-weight: 900;
    min-width: none;

  }

  h3 {
    font-size: 1rem;
    font-weight: 100;
  }


}